 .task-card p {
   margin-bottom: 6px !important;
  font-size: 15px;
  
}

.task-card {
  padding: 0 !important;
}
 
.task-card .card-body {
  padding: 10px 14px !important;
}

.task-list {
  
  display: flex;
  flex-direction: column;
  gap: 10px;   /* 👈 space between cards */
}



.task-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  gap: 10px;
}

.start-btn {
  background: #980556;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.remove-btn {
  background: #6e024e;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}
